.content {
  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover; // Isse image kategi nahi aur frame mein fit ayegi
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}